@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

/**
 * 2.0 - General Elements
 */

* {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	color: #728EAA;
	font-weight: bold;
}

b {
	font-weight: bold;
}

a:hover, a:focus {
	text-decoration: none;
}

::selection {
	background-color: #eee;
}

body {
	color: #728EAA;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

p {
	font-family: 'Ubuntu', sans-serif;
	word-spacing: 1px;
	letter-spacing: 0.01em;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
}

#single p, #page p {
	margin-bottom: 25px;
}

.page-title {
	text-align: center;
}

h1.entry-title a:hover {
	color: gray;
}

.title {
	margin-bottom: 30px;
}

figure {
	margin-bottom: 25px;
}

.img-responsive-center img {
	margin: 0 auto;
}

.height-40px {
	margin-bottom: 40px;
}


/*lalalal web site helpers, utils bg colors margins paddings */
.pt-sm {
	padding-top: 40px;
}
.bg-white {
	background-color: #fff;
	color: #728EAA;
}

.mb-md {
	margin-bottom: 20px;
}

.text-green {
	color: #7ED321;
} 

.bg-green {
	background-color: #7ED321;
}

.bg-pink {
	background-color: #FF5AB7;
	color: #fff;
}
.text-blue{
	color: #728EAA;
}
.bg-blue{
	background: #728EAA;
}
.bg-primary {
	background: #326ADA;
}
.pt-lg {
	padding-top: 70px !important;
}

.ph-0 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.btn-primary {
	background: #728EAA;
	color: #fff;
	border: none;
}

.btn-default {
	background: #fff;
	color: #728EAA;
	border: 1px solid #728EAA;
}

.btn-fab {
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.17);
	border-radius: 60px !important;
}


/**
 * 3.0 - Site Header
 */

nav.header {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.04);
	padding: 14.5px 0;
}

nav.header .logo h1 {
	font-size: 18px;
	color: #326ADA;
	letter-spacing: 0;
	position: relative;
	top: 7px;
	font-weight: 100;
}

nav.header .logo h1 b {
	font-weight: 900;
}

nav.header div.nav-side {
	height: 18px;
}

nav.header div.nav-input input {
	background: #F0F5F9;
	border: 1px solid #E5E7F7;
	border-radius: 54px;
	width: 100%;
	padding: 5px 11px;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #728EAA;
}

nav.header div.nav-side {
	font-size: 20px;
}

nav.header div.nav-side ul li a {
	padding: 5px 10px !important;
	background-color: transparent;
}

nav.header div.nav-side ul li:nth-child(3) a {
	background: #FFFFFF;
	border-radius: 120px;
	border: 1px solid #E5E7F7;
}

nav.header div.nav-side ul li a span.nav-notif {
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.17);
	font-size: 10px;
	border-radius: 50%;
	padding: 3px 6px;
	position: relative;
	bottom: 12px;
	right: 11px;
}


/*header header code goes here*/

header.header {
	background: #F0F5F9;
	height: 70px;
}

header.header .header-nav ul {
	list-style-type: none;
	padding: 0;
}

header.header .header-nav li {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

header.header .header-nav li.active {
	border-bottom: 2px solid #326ADA;
}

header.header .header-nav li a {
	color: #728EAA !important;
}

header.header .header-nav li.active a {
	color: #326ADA !important;
}

header.header .header-nav li i {
	font-size: 15px;
}

header.header .header-nav li p {
	font-size: 13px;
	letter-spacing: 0;
}

header.header .header-side {
	padding: 0;
}

header.header .header-side ul {
	list-style-type: none;
	padding: 0;
	float: right;
}

header.header .header-side li {
	display: inline-flex;
	margin: 20px 0 0 0;
	padding: 0 5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
}

header.header .header-side ul li p {
	display: block;
	margin-right: 8px;
	font-size: 12px;
	color: #728EAA;
	letter-spacing: 0;
}

header.header .header-side ul li button {
	width: 50px;
	height: 30px;
	color: #fff;
}

header.header .header-side ul li:nth-child(1) button {
	background: #728EAA;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}

header.header .header-side ul li:nth-child(2) button {
	display: block;
	background: #00DDFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}

header.header .header-side ul li:nth-child(3) button {
	display: block;
	background: #7ED321;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}


/*section styles*/

section .main-title h3 {
	font-size: 20px;
	color: #728EAA;
	letter-spacing: 0;
}
section .main-title h4 {
	font-size: 15px;
	color: #728EAA;
	letter-spacing: 0;
}

section.content-body {
	padding-top: 50px;
}


/**
 * 3.1 - Logo
 */

.content-body {
	padding-bottom: 4em;
}

.main-tool i:nth-child(2) {
	font-size: 24px;
	margin: 0 10px 0 25px;
	position: relative;
	top: 5px;
}

.main-tool i:nth-child(1) {
	font-size: 24px;
	margin: 0 10px 0 25px;
	position: relative;
	top: 5px;
}
.main-tool i:nth-child(3) {
	font-size: 24px;
	margin: 0 25px 0 0;
	position: relative;
	top: 5px;
}

.main-tool a.btn-fab i {
	font-size: 18px !important;
	margin: 0px !important;
	position: static; 
}

.main-tool a.btn-fab i:hover {
	color: #fff !important;  
}

.main-tool div {
	display: inline;
}

.together-btn a {
	width: 90px;
	padding: 5px;
	height: 30px;
}

.together-btn a:nth-child(1) {
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.together-btn a:nth-child(2) {
	border-left: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


/*projects csss goes here*/

.projects {
	background: #FFFFFF;
	border: 2px solid #E5E7F7;
	border-radius: 5px;
	height: 250px;
	text-align: center;
}

.projects:hover {
	background: #FFFFFF;
	box-shadow: 0 11px 27px 0 rgba(0, 0, 0, 0.13);
	border-radius: 5px;
	height: 250px;
	cursor: pointer;
	text-align: center;
}

.projects .tools {
	display: none;
}

.projects:hover .tools {
	display: block;
}

.projects:hover .tools i {
	font-size: 18px;
	padding: 0 5px;
}

.projects:hover .tools i:hover {
	font-size: 22px;
	padding: 0 6px;
}

.projects:hover h3 {
	font-size: 24px;
	color: #326ADA;
	letter-spacing: 0;
}

.projects h4 {
	font-size: 12px;
	color: #728EAA;
	letter-spacing: 0;
	text-transform: uppercase;
	margin-top: 34px;
}

.projects h3 {
	font-size: 24px;
	color: #728EAA;
	letter-spacing: 0;
}

.projects .together-img {
	margin-top: 34px;
}

.together-img img {
	width: 35px;
	height: 35px;
	border: 2px solid #E5E7F7;
	border-radius: 50px;
	box-shadow: -1px 3px 2px 0 rgba(0, 0, 0, 0.1);
}

.together-img img:nth-child(1) {
	position: relative;
	left: 17px;
}

.together-img img:nth-child(2) {
	position: relative;
}

.together-img img:nth-child(3) {
	position: relative;
	right: 17px;
}

.projects p {
	font-size: 12px;
	color: #728EAA;
	letter-spacing: 0;
}


/*modal action css goes here*/

.action-modal {
	text-align: center;
	padding: 21px 0;
}

.action-modal h4 {
	font-weight: 800;
	font-size: 24px;
	margin-top: 79px;
}

.action-modal h4 small {
	font-size: 14px;
	color: #728EAA;
}

.action-modal .close {
	background: #728EAA;
	padding: 1px 5px;
	border-radius: 50px;
	margin-right: 20px;
}

.action-modal .action-btn {
	margin-top: 53px;
	margin-bottom: 100px;
}

.btn {
	border-radius: 3px;
}

header.project-header {
	background-image: linear-gradient(-211deg, #0A2463 0%, #326ADA 100%);
	height: 70px;
	padding-top: 13px;
}

header.project-header .logo h1 a {
	font-size: 28px;
	color: #F0F5F9;
	letter-spacing: 0;
}

header.project-header .members .add-new-btn {
	border: 1px solid #F0F5F9;
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.17);
}

header.project-header .members .add-new-btn {
	border: 1px inset #F0F5F9;
	padding: 5px 8px;
	font-size: 10px;
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.17);
	border-radius: 50px;
	position: relative;
	top: 5px;
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

header.project-header .members p.add-new-til {
	font-size: 10px;
	color: #FFFFFF;
	padding: 10px;
	letter-spacing: 0;
	background: #0A2463;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	border-radius: 3px;
	display: inline;
	position: relative;
	top: 5px;
	left: 20px;
}

header.project-header .members .add-new-til i {
	color: #0A2463;
	font-size: 20px;
	position: relative;
	top: 4px;
	right: 17.1px;
}

header.project-header .members .together-img {
	display: inline;
	position: relative;
	top: 5px;
}

section.content-body .main-path h4 {
	font-size: 10px;
	color: #728EAA;
	letter-spacing: 0;
	text-transform: uppercase;
}

section.content-body .main-path h4 b {
	font-weight: bolder;
}


/*side-nav css*/

aside.side-nav {
	padding-right: 50px;
}

aside.side-nav ul {
	list-style-type: none;
	padding: 0;
	border-right: 1px solid #E5E7F7;
}

aside.side-nav li {
	padding: 10px 15px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

aside.side-nav li a {
	text-transform: uppercase;
	height: 40px;
	font-weight: 600;
	font-size: 11px;
	color: #000000;
	letter-spacing: 0;
}

aside.side-nav li.active {
	background: #00DDFF;
	border-right: 2px solid #326ADA;
	color: #ffffff;
}

aside.side-nav li.active a {
	color: #ffffff;
}

.i-box {
	padding: 20px;
	background: #FFFFFF;
	border: 2px solid #E5E7F7;
}

.b-r {
	border-right: 1px solid #E5E7F7;
}

.i-box h3 {
	font-size: 14px;
	color: #728EAA;
	font-weight: bold;
	letter-spacing: 0;
}

.i-box h3 i {
	border: 1px solid #7ED321;
	border-radius: 50px;
	font-size: 6px;
	padding: 3px 6px;
}

.i-box h4 {
	font-size: 11px;
	color: #728EAA;
	letter-spacing: 0;
	line-height: 17px;
	font-weight: bold;
}

.i-box h5 {
	font-size: 11px;
	color: #000000;
	letter-spacing: 0;
	line-height: 17px;
}

.progress-precentage-1 {
	margin-top: 20px;
	padding: 35px 25px;
	border-radius: 80px;
	background: #326ADA;
	box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.17);
}

.progress-precentage-1 span {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 27px 22px;
	color: #728EAA;
	position: relative;
	border-radius: 100px;
	background: #fff;
	letter-spacing: 0;
	right: 16px;
}

.hack-1 {
	position: relative;
	left: 10px;
}

.progress-precentage-2 {
	margin-top: 20px;
	padding: 35px 25px;
	border-radius: 80px;
	background-image: linear-gradient(-180deg, #F551D7 0%, #8F0976 100%);
	box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.17);
}
.progress-precentage-2 span {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 28px 32px;
	color: #728EAA;
	position: relative;
	border-radius: 70px;
	background: #fff;
	letter-spacing: 0;
	right: 16px;
}

  
.progress-stats-btn   {
position: relative;
right: 10px;
}

.progress-stats-btn ul {
	list-style-type: none;
	padding: 0;
	float: right;
}

.progress-stats-btn li {
	display: inline-flex;
	margin: 20px 0 0 0;
	padding: 0 5px;
	text-align: center;
	text-transform: uppercase; 
}

.progress-stats-btn ul li p {
	display: block;
	margin: 0 3px;
	font-size: 8px;
	font-weight: bolder;
	color: #728EAA;
	letter-spacing: 0;
	position: relative;
bottom: 5px;
}

.progress-stats-btn ul li button {
	width: 20px;
	text-align: center;
	font-size: 9px;
	height: 15px;
	padding:0;
	color: #fff;
}

.progress-stats-btn ul li:nth-child(3) button {
	background: #728EAA;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}

.progress-stats-btn ul li:nth-child(2) button {
	display: block;
	background: #00DDFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}

.progress-stats-btn ul li:nth-child(1) button {
	display: block;
	background: #7ED321;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}

.progress-bar-s{
padding-top:40px;
}
.progress {
	background: #E5E7F7;
border-radius: 100px;
height: 7px;
    margin-bottom: 10px;
}

/* Popover Body */
 /* Popover */
.popover {
    width: 152px;
	height: auto;
	background: #F0F5F9;
border: 2px solid #E5E7F7;
border-radius: 3px;
}

.popover-content {
    font-size: 9px;
color: #000000;
letter-spacing: 0;
    padding: 25px;
}
.arrow {  
	background: #F0F5F9;
}
.members-board {
	margin-top: 10px;
	background: #F0F5F9;
border: 1px solid #E5E7F7;
border-radius: 5px;
padding:10px; 
}
.not-together-img img {
	width: 38px;
	height: 38px; 
	border-radius: 58px;
	box-shadow: -1px 3px 2px 0 rgba(0, 0, 0, 0.1);
}
.members-board-detail {
margin-top: 40px;
}
.members-board-detail img {
width: 100px;
	height: 100px; 
	border-radius: 58px;
	border: 3px solid #326ADA;
	position: relative;
	left: 15px;
}
.i-box h2 {
	font-size: 14px;
color: #000000;
font-weight: bold;
letter-spacing: 0;
}
.i-box p.tab {
	font-size: 13px;
color: #000000;
letter-spacing: 0;
padding: 3px;
font-weight: bold;}

.i-box p.tab em {
	font-size: 11px; 
}
.i-box p.tab.active em{
color: #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
border-radius: 53px;
padding:2px 9px; 
position: relative;

line-height: 15px;
background: #00DDFF;
top:4px;
}
.i-box p.tab.active {
background: #FFFFFF;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
border-radius: 3px;
}

.i-box p.tab em,.i-box p.tab i {
	float: right;
	font-size: bold;
}
.hack-2 h3{
	 font-size: 11px;
}
.hack-2{
	position: relative;
	left: 40px;
}
.vel-guide{
	font-size: 9px; 
letter-spacing: 0;
line-height: 11px;
}
.btn-wallet-1 {
	background: #FFFFFF;
border: 2px solid #E5E7F7;
border-radius: 3px;
font-size: 10px;
color: #000000;

letter-spacing: 0;
line-height: 12px;
text-transform: capitalize;
position: absolute;
right:15px;
top:15px;
}
.big-btn-s{
	margin-top:30px;
	margin-bottom:50px;
}
.btn-wallet-2{
background: #FFFFFF;
border: 2px solid #E5E7F7;
border-radius: 75px;
padding:0;
margin-left: 5px;
}
.big-btn-s .btn-wallet-2 p{
	text-transform: uppercase;
font-size:7px;
padding:0 40px;
}
.big-btn-s .btn-wallet-2 b{
font-size:16px;
display: block;
}
.big-btn-s .btn-wallet-2 sup{
font-size:8px; 
}
.bg-green.btn-wallet-2{
	color: #fff;
	background: #7ED321;
box-shadow: 0 2px 10px 0 rgba(0,0,0,0.18);
border-radius: 75px;
margin-left: 0px;
}

.my-table-s th {
font-size: 12px;
color: #000000;
letter-spacing: 0;
line-height: 29px;
}
.my-table-s td {
font-size: 10px;
color: #000000;
letter-spacing: 0;
line-height: 33px;
}
.my-table-s {
padding: 0 10px;
}
.hack-height{
	min-height: 421px;
}
.members-board-detail .i-s{
background: #00DDFF;
color: #fff;
padding: 5px 9px;
border-radius: 56px;
position: relative;
left:50px;
bottom: 10px;
cursor: pointer;
}



/*people csss goes here*/

.people {
	background: #FFFFFF;
	border: 2px solid #E5E7F7;
	border-radius: 5px;
	height: 250px;
	text-align: center;
	margin-bottom: 10px;
}

.people:hover {
	background: #FFFFFF;
	box-shadow: 0 11px 27px 0 rgba(0, 0, 0, 0.13);
	border-radius: 5px;
	height: 250px;
	cursor: pointer;
	text-align: center;
}

.people .tools {
	display: none;
}

.people:hover .tools {
	display: block;
}

.people:hover .tools i {
	font-size: 18px;
	background: #00DDFF;
	padding: 5px 10px;
	border-radius: 60px;
	color:#fff;
	margin:20px 0;
	
}

 
 
.people h2 {
	margin-top:22px;
	font-size: 18px;
color: #000000;
letter-spacing: 0;
text-transform: capitalize;
}

.people h3 {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
color: #728EAA;
letter-spacing: 0;
}

.people .person-img{
	margin-top: 34px;
}

 
.people .person-img img {
	width: 100px;
	height: 100px; 
	border-radius: 58px;
	border: 3px solid #326ADA;
	 
}

i.i-next {
	position: relative;
	top:90px; 
	font-size: 18px;
	padding: 3px 10px;
	border-radius: 50px;
	color: #fff;
	background: #728EAA;
	cursor: pointer;
}

.main-filter-tool input {
	padding: 5px;
	font-size: 13px;
color: #728EAA !important;
letter-spacing: 0;
line-height: 25px;
background: #FFFFFF;
border: 1px solid #E5E7F7;
border-radius: 3px;
margin-bottom:7px;
}
.main-filter-tool:hover .filter-input {
 display: block;
}
.main-filter-tool .filter-input {
	display: none;
 background: #FFFFFF;
border: 1px solid #E5E7F7;
border-radius: 3px;
margin-top:2px;
position: absolute;
z-index: 1;
width:180px
}
.main-filter-tool .filter-input ul {
 list-style-type: none;
 padding: 5px 10px;
}

.main-filter-tool .filter-input ul li a {
font-size: 13px;
color: #728EAA;
margin: 0;
cursor: pointer;
letter-spacing: 0;
line-height: 25px;
}
.people-filter {
background: #326ADA;
border-radius: 5px;
padding: 10px 10px 40px 10px;
}
.people-filter h6 {
	font-size: 10px;
	text-transform: uppercase;
color: #FFFFFF;
letter-spacing: 0;
line-height: 25px;
}
.people-filter input {
background: #FFFFFF;
border: 1px solid #E5E7F7;
border-radius: 3px;
font-size: 14px;
color: #728EAA;
width:100%;
letter-spacing: 0;
line-height: 25px;
padding: 0px 4px;
}

.people-filter button {
background: #FFFFFF;
border: 1px solid #E5E7F7;
border-radius: 3px;
font-size: 14px;
color: #728EAA;
letter-spacing: 0;
line-height: 25px;
margin-top: 20px;
}
.person-modal {
	text-align: center;
	padding: 30px 20px;
}
.person-modal img {
	margin-top:60px;
	width: 150px;
	height: 150px; 
	border-radius: 80px;
	border: 3px solid #326ADA;	 
}
.person-modal .close {
	background: #728EAA;
	padding: 1px 5px;
	border-radius: 50px; 
}

.person-modal h2{
	margin-top:18.5px;
	text-transform: capitalize;
	font-size: 18px;
color: #326ADA;
letter-spacing: 0;
}
.person-modal h3{
	text-transform: uppercase;
	font-size: 12.5px;
color: #728EAA;
letter-spacing: 0;
line-height: 19px;
}
.person-modal h4{
font-size: 11px; 
letter-spacing: 0;
line-height: 19px;
}
.person-modal p{
	margin-top:29px;
font-size: 10px;
color: #000000;
letter-spacing: 0;
line-height: 19px;
}
.text-yellow {
	color: #F5A623;
}
.person-modal-bio{
	margin-top: 34px;
	margin-bottom: 20px;
	padding: 10px;
border-top: 2px solid #E5E7F7;
border-bottom: 2px solid #E5E7F7;
}
.modal-backdrop{
	opacity: 0.73 !important;
background: #728EAA;
}
.col-md-offset-2 {
    margin-left: 12% !important;
}
.lined-title {
	position: relative;
	padding:0 220px;
	border-bottom: 1px solid #E5E7F7;
	bottom: 25px;
}
.lined-title h3 {
	position: relative;
text-align: center;
	font-size: 14px;
color: #728EAA;
letter-spacing: 1.5px;
top:18px;
background: #fff;
}


.activity-bar {
	margin: 20px 0;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.14);
border-radius: 5px;
padding: 15px 20px;

}
.activity-bar h4.activity-title { 
font-size: 12px;
color: #728EAA;
letter-spacing: 0;
display: inline;
margin-right:15px;
}
.activity-bar .activity-title b { 
font-size: 12px;
color: #000000;
letter-spacing: 0;
line-height: 15px;
}
.activity-bar p { 
	display: inline;
font-size: 12px;
color: #000000;
letter-spacing: 0;
line-height: 15px;
}

 .activity-bar  span { 
font-size: 10px;
color: #728EAA;
letter-spacing: 0;
}
 .activity-bar  span i { 
font-size: 16px;
color: #728EAA;
letter-spacing: 0;
}


.activity-bar.active {
background: #326ADA;
box-shadow: 0 11px 27px 0 rgba(0,0,0,0.13);
border-radius: 5px;
color: #fff; 
}
.activity-bar.active h4.activity-title { 
color: #fff; 
}
.activity-bar.active .activity-title b {  
color: #fff;  
}
.activity-bar.active p {  
color: #fff;  
}

 .activity-bar.active  span {
	 color: #fff; 
}
 .activity-bar.active  span i { color: #fff; 
}

.activity-alert-thing {
 font-size: 20px;
 background: #FFFFFF;
border: 2px solid #728EAA;
padding:5px 8px;
border-radius: 70px;
}
.person-profile img { 
	width: 100px;
	height: 100px; 
	border-radius: 80px;
	border: 3px solid #728EAA;
}
.person-profile .tools i {
	font-size: 16px;
	background: #00DDFF;
	padding: 5px 7px;
	border-radius: 60px;
	color:#fff;
	cursor: pointer;
	position: relative;
	bottom: 8px;
	left:37px;
}
.person-profile h2 {
font-size: 18px;
color: #326ADA;
letter-spacing: 0;
}
.person-profile h3 {
font-size: 14px;
color: #728EAA;
letter-spacing: 0;
line-height: 19px;
}

.person-profile h4 {
font-size: 12px;
letter-spacing: 0;
line-height: 19px;
}

.person-profile p {
	font-size: 12px;
color: #000000;
letter-spacing: 0;
}


.person-profile .title {
border-bottom: 2px solid #E5E7F7;
padding-right: 83%;
}
.person-profile .title p {
	padding: 0 20px;
border-bottom: 2px solid #326ADA; 
position: relative;
top:12px;
}
.person-profile td {
	font-size: 14px;
color: #000000;
letter-spacing: 0;
line-height: 19px;
}
.person-profile tr td:nth-child(1) {
	border:none !important;
}
.person-profile tr td{
	    line-height: 30px !important;
}
.person-profile .pill {
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 19px;
background: #728EAA;
border-radius: 86px;
padding: 5px 10px;
margin: 20px 5px;
}
.ph-md {
	padding: 0 30px;
}
.hack-6 {
	display: none !important;
}