.bold {
  font-weight: 700;
}

.main-logo {
  height: 68px;
  width: auto;
    float:left;
}

.company-name {
  text-transform: uppercase;
  font-size: 30px;
}

.no-padding {
  padding: 0;
}

.menu-items a {
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: #41546D;
}

.btn-blue:hover {
  background: #0A2463;
    color: white !important;
}

.btn-blue {
  background: #326ADA;
    margin-bottom: 50px;
}

.btn-white a {
  color: #326ADA;
}

.btn-blue a {
  color: #fff;
}

.btn-white {
  background: #fff;
}

.al-center {
  text-align: center;
}

.al-right {
  text-align: right;
}

.al-left {
  text-align: left;
}

.pull-right {
  margin-right: 0;
}

.pull-left {
  margin-left: 0;
}


